<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <h2>Email</h2>
  <input type="text" name="email">
  <h2>Password</h2>
  <input type="text" name="password">
  <input type="submit" value="Log In">
</form>
