<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <h2>Name:</h2>
  <input type="text" name="name">
  <h2>Email:</h2>
  <input type="text" name="email">
  <h2>Password:</h2>
  <input type="text" name="password">
  <br><br><input type="submit" value="Sign Up">
</form>
