<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
  <label for="">Name: </label>
  <input id="name" type="text" name="name" value=""><br>
  <label for="">E-mail: </label>
  <input id="email" type="text" name="email" value=""><br>
  <label for="">Password: </label>
  <input id="password" type="text" name="password" value=""><br>
  <input id="Sign Up" type="submit" name="" value="SUBMIT">
</form>
