<h1>Sign Up Below:</h1>
<form action='/registrations' method="POST">
  <label id="name" name="name">Name:</label>
  <input type="text" id="name" name="name">
  <label id="email" name="email">Email:</label>
  <input type="text" id="email" name="email">
  <label id="password" name="password">Password:</label>
  <input type="text" id="password" name="password">
  <input type="submit" name="submit" value="Sign Up">
</form>
